:root {
  --callout-background: #ffffff;
  --callout-border-bottom: 1px solid #00000000;
  --callout-border-left: 1px solid #00000000;
  --callout-border-radius-bottom-left: 0px;
  --callout-border-radius-bottom-right: 0px;
  --callout-border-radius-top-left: 0px;
  --callout-border-radius-top-right: 0px;
  --callout-border-right: 1px solid #00000000;
  --callout-border-top: 1px solid #00000000;
  --callout-description-letter-spacing: 0%;
  --callout-description-text-color: #000000;
  --callout-description-text: 700 16px "Montserrat";
  --callout-gap: 8px;
  --callout-image-width: 63px;
  --callout-padding-bottom: 8px;
  --callout-padding-left: 8px;
  --callout-padding-right: 8px;
  --callout-padding-top: 8px;
  --callout-text-gap: 8px;
  --callout-title-letter-spacing: 0%;
  --callout-title-text-case: uppercase;
  --callout-title-text-color: #071d49;
  --callout-title-text: 700 10px "Montserrat";
}

.cmp-callout-top-right-icon {
  line-height: 25px;
  font-size: 1.75em;
  border-radius: 50%;
  background-color: #071d49;
  color: white;
  text-align: center;
  float: right;
  width: 26.5px;
  height: 26.5px;
  margin-right: -10px;
  margin-top: -10px;
}
.cmp-callout-img img {
  height: auto;
  width: 65px;
}
.cmp-callout-title {
  color: #071d49;
  leading-trim: both;
  text-edge: cap;
  font-family: 'NeoSansStd-Regular';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.cmp-callout-description {
  color: #808080;
  leading-trim: both;
  text-edge: cap;
  font-family: 'NeoSansStd-Regular';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.cmp-callout-display-variation.stacked {
  &.cmp-callout {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .cmp-callout-container {
    padding: 20px 25px;
  }
  span.cmp-callout-img {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 65px;
    height: 65px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cmp-callout-img img {
    height: auto;
    width: 65px;
  }
  .cmp-callout-title {
    margin-top: 12.5px;
  }
}
.cmp-callout-display-variation.parallel {
  &.cmp-callout {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 12.5px 0px rgba(0, 0, 0, 0.2);
  }
  .cmp-callout-container {
    display: flex;
    align-items: center;
    padding: 17px 25px;
  }
  span.cmp-callout-img {
    align-items: center;
    display: inline-flex;
    width: 60px;
    height: 60px;
  }
  .cmp-callout-img img {
    height: auto;
    width: 59px;
  }
  .cmp-callout-text-container {
    align-items: center;
    margin-left: 18.5px;
    display: flex;
    float: right;
  }
}
.cmp-callout-display-variation.centerStacked {
  &.cmp-callout {
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 12.5px 0px rgba(0, 0, 0, 0.2);
  }
  .cmp-callout-container {
    justify-content: center;
    height: 62px;
    display: flex;
    align-items: center;
    padding: 5px 5px 0px 5px;
  }
  .cmp-callout-img img {
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .cmp-callout-text-container {
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .cmp-callout-title {
    font-family: 'NeoSansStd-Regular';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }
}
.cmp-callout-container a.cmp-callout-custom-layout {
  display: flex;

  &:has(.top),
  &:has(.bottom) {
    flex-direction: column;
  }

  .cmp-callout-img,
  .cmp-callout-text-container {
    order: 1;
  }

  .cmp-callout-img {
    &.bottom,
    &.right {
      order: 2;
    }
  }

  .start {
    text-align: start;
  }

  .center {
    text-align: center;
  }

  .end {
    text-align: end;
  }
}

/*  */
.callout {
  .cmp-callout {
    font-family: var(--font-sans-condensed);
  }

  .cmp-callout-title {
    font-family: var(--font-sans-condensed);
  }

  .cmp-callout-description {
    font-family: var(--font-sans-condensed);
  }

  .cmp-callout.callout-1 {
    width: fit-content;
    position: relative;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;

    .cmp-callout-top-right-icon {
      position: absolute;
      right: 0;
      top: 15px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      border-radius: 9999px;
      border-width: 2px;
      border-color: #124375;
      border-style: solid;
      background-color: #ffffff;
      color: #124375;
      font-size: 18px;
      font-weight: 700;
    }

    .cmp-callout-container {
      width: auto;
      padding: 0;
      margin: 0;
    }

    .cmp-callout-link {
      display: inline-flex;
    }

    .cmp-callout-text-container {
      display: flex;
      width: fit-content;
      flex-shrink: 0;
      align-items: center;
      width: 372px;
    }

    .cmp-callout-title {
      font-family: var(--font-sans-condensed);
      position: relative;
      display: grid;
      place-items: center;
      margin: 0;
      height: 40px;
      width: 80px;
      background-color: #124375;
      font-weight: 700;
      color: #ffffff;
      clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
    }
    .cmp-callout-description {
      font-family: var(--font-sans-condensed);
      font-weight: 700;
      position: relative;
      margin-left: -16px;
      padding-left: 14px;
      display: inline-flex;
      align-items: center;
      height: 40px;
      width: 100%;
      border-width: 1px;
      background-color: #ffffff;
      outline-width: 1px;
      color: #071d49;
      clip-path: polygon(5% 0, 100% 0, 95% 100%, 0% 100%);
    }
    .cmp-callout-description sub {
      font-size: 9px;
    }
    .cmp-callout-description sup {
      font-size: 9px;
    }

    .cmp-callout-img img {
    }
  }

  .cmp-callout.callout-2 {
    position: relative;
    border-radius: 0;
    box-shadow: none;

    width: 320px;
    text-wrap: balance;
    font-family: var(--font-sans-condensed);
    font-size: 12px;
    font-weight: 700;

    .cmp-callout-container > div {
      display: flex;
      align-items: center;
      gap: 36px;
    }

    .cmp-callout-title {
      display: none;
    }
    .cmp-callout-description {
      display: flex;
      color: #ffffff;
      font-weight: 700;
      font-size: 12.1px;
    }

    .cmp-callout-img img {
      height: 54px;
      width: 54px;
    }
  }

  .cmp-callout.callout-3 {
    width: fit-content;
    position: relative;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;

    width: 208px;
    font-family: var(--font-sans-condensed);
    font-weight: 700;

    .cmp-callout-container > div {
      display: flex;
      align-items: start;
      gap: 14px;
    }

    .cmp-callout-container {
      width: auto;
      padding: 0;
      margin: 0;
    }

    .cmp-callout-img img {
      height: 32px;
      width: 32px;
    }

    .cmp-callout-text-container {
      width: 372px;
    }

    .cmp-callout-title {
      font-size: 14px;
      text-transform: uppercase;
      line-height: 1;
      color: #193052;
    }

    .cmp-callout-description {
      margin-top: 4px;
      text-wrap: balance;
      font-size: 13px;
      font-weight: 700;
      color: var(--skyrizi-blue);
    }
  }

  .cmp-callout.callout-4 {
    position: relative;
    font-family: var(--font-sans-condensed);
    width: 224.85px;
    height: 186.62px;
    border-radius: 4px;
    border-width: 1px;
    background-color: #fff;
    padding: 32px;

    .cmp-callout-top-right-icon {
      position: absolute;
      bottom: 0;
      right: 50%;
      margin-bottom: -20px;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 35px;
      border-radius: 9999px;
      border-width: 2px;
      border-color: #d4d4d4;
      border-style: solid;
      background-color: var(--skyrizi-blue);
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
    }

    .cmp-callout-img {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cmp-callout-img img {
      width: 72px;
      height: 61px;
    }

    .cmp-callout-text-container {
      margin-top: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .cmp-callout-title {
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .cmp-callout-description {
      white-space: nowrap;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--skyrizi-blue);
    }
  }

  .cmp-callout.callout-5 {
    width: fit-content;
    position: relative;
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
    padding: 0;
    margin: 0;

    .cmp-callout-container > div {
      display: flex;
      align-items: center;
      gap: 28px;
    }

    .cmp-callout-img img {
      width: 74px;
      height: 63px;
    }

    .cmp-callout-text-container {
      display: flex;
      flex-direction: column;
    }

    .cmp-callout-title {
      font-family: var(--font-sans-condensed);
      font-size: 15px;
      font-weight: 700;
      line-height: 1;
      letter-spacing: 0.1em;
      color: #2f7abf;
    }

    .cmp-callout-description {
      font-family: var(--font-sans-condensed);
      font-size: 34px;
      margin-top: 12px;
      line-height: 1;
      color: #23385b;
    }
  }
}
