:root {
--navigation-callflow-navigation-background: #ffffff;
--navigation-custom-presentation-delete-button-background: #95004d;
--navigation-custom-presentation-delete-button-border-bottom: 1px solid #00000000;
--navigation-custom-presentation-delete-button-border-left: 1px solid #00000000;
--navigation-custom-presentation-delete-button-border-radius-bottom-left: 50px;
--navigation-custom-presentation-delete-button-border-radius-bottom-right: 50px;
--navigation-custom-presentation-delete-button-border-radius-top-left: 50px;
--navigation-custom-presentation-delete-button-border-radius-top-right: 50px;
--navigation-custom-presentation-delete-button-border-right: 1px solid #00000000;
--navigation-custom-presentation-delete-button-border-top: 1px solid #00000000;
--navigation-custom-presentation-delete-button-gap: 20px;
--navigation-custom-presentation-delete-button-letter-spacing: 0%;
--navigation-custom-presentation-delete-button-padding-bottom: 7px;
--navigation-custom-presentation-delete-button-padding-left: 16px;
--navigation-custom-presentation-delete-button-padding-right: 16px;
--navigation-custom-presentation-delete-button-padding-top: 7px;
--navigation-custom-presentation-delete-button-text-color: #ffffff;
--navigation-custom-presentation-delete-button-text: 700 12px "Avenir Next Condensed";
--navigation-custom-presentation-edit-button-background: #95004d;
--navigation-custom-presentation-edit-button-border-bottom: 1px solid #00000000;
--navigation-custom-presentation-edit-button-border-left: 1px solid #00000000;
--navigation-custom-presentation-edit-button-border-radius-bottom-left: 50px;
--navigation-custom-presentation-edit-button-border-radius-bottom-right: 50px;
--navigation-custom-presentation-edit-button-border-radius-top-left: 50px;
--navigation-custom-presentation-edit-button-border-radius-top-right: 50px;
--navigation-custom-presentation-edit-button-border-right: 1px solid #00000000;
--navigation-custom-presentation-edit-button-border-top: 1px solid #00000000;
--navigation-custom-presentation-edit-button-gap: 20px;
--navigation-custom-presentation-edit-button-letter-spacing: 0%;
--navigation-custom-presentation-edit-button-padding-bottom: 7px;
--navigation-custom-presentation-edit-button-padding-left: 16px;
--navigation-custom-presentation-edit-button-padding-right: 16px;
--navigation-custom-presentation-edit-button-padding-top: 7px;
--navigation-custom-presentation-edit-button-text-color: #ffffff;
--navigation-custom-presentation-edit-button-text: 700 12px "Avenir Next Condensed";
--navigation-custom-presentation-input-text-background: #00000000;
--navigation-custom-presentation-input-text-border-bottom: 1px solid #cccccc;
--navigation-custom-presentation-input-text-border-left: 1px solid #cccccc;
--navigation-custom-presentation-input-text-border-radius-bottom-left: 4px;
--navigation-custom-presentation-input-text-border-radius-bottom-right: 4px;
--navigation-custom-presentation-input-text-border-radius-top-left: 4px;
--navigation-custom-presentation-input-text-border-radius-top-right: 4px;
--navigation-custom-presentation-input-text-border-right: 1px solid #cccccc;
--navigation-custom-presentation-input-text-border-top: 1px solid #cccccc;
--navigation-custom-presentation-input-text-letter-spacing: 0%;
--navigation-custom-presentation-input-text-padding-bottom: 8px;
--navigation-custom-presentation-input-text-padding-left: 8px;
--navigation-custom-presentation-input-text-padding-right: 8px;
--navigation-custom-presentation-input-text-padding-top: 8px;
--navigation-custom-presentation-input-text-text-color: #cccccc;
--navigation-custom-presentation-input-text-text: 400 12px "Avenir Next Condensed";
--navigation-custom-presentation-reset-button-background: #95004d;
--navigation-custom-presentation-reset-button-border-bottom: 1px solid #00000000;
--navigation-custom-presentation-reset-button-border-left: 1px solid #00000000;
--navigation-custom-presentation-reset-button-border-radius-bottom-left: 50px;
--navigation-custom-presentation-reset-button-border-radius-bottom-right: 50px;
--navigation-custom-presentation-reset-button-border-radius-top-left: 50px;
--navigation-custom-presentation-reset-button-border-radius-top-right: 50px;
--navigation-custom-presentation-reset-button-border-right: 1px solid #00000000;
--navigation-custom-presentation-reset-button-border-top: 1px solid #00000000;
--navigation-custom-presentation-reset-button-gap: 20px;
--navigation-custom-presentation-reset-button-letter-spacing: 0%;
--navigation-custom-presentation-reset-button-padding-bottom: 7px;
--navigation-custom-presentation-reset-button-padding-left: 16px;
--navigation-custom-presentation-reset-button-padding-right: 16px;
--navigation-custom-presentation-reset-button-padding-top: 7px;
--navigation-custom-presentation-reset-button-text-color: #ffffff;
--navigation-custom-presentation-reset-button-text: 700 12px "Avenir Next Condensed";
--navigation-custom-presentation-save-button-background: #95004d;
--navigation-custom-presentation-save-button-border-bottom: 1px solid #00000000;
--navigation-custom-presentation-save-button-border-left: 1px solid #00000000;
--navigation-custom-presentation-save-button-border-radius-bottom-left: 50px;
--navigation-custom-presentation-save-button-border-radius-bottom-right: 50px;
--navigation-custom-presentation-save-button-border-radius-top-left: 50px;
--navigation-custom-presentation-save-button-border-radius-top-right: 50px;
--navigation-custom-presentation-save-button-border-right: 1px solid #00000000;
--navigation-custom-presentation-save-button-border-top: 1px solid #00000000;
--navigation-custom-presentation-save-button-gap: 20px;
--navigation-custom-presentation-save-button-letter-spacing: 0%;
--navigation-custom-presentation-save-button-padding-bottom: 7px;
--navigation-custom-presentation-save-button-padding-left: 16px;
--navigation-custom-presentation-save-button-padding-right: 16px;
--navigation-custom-presentation-save-button-padding-top: 7px;
--navigation-custom-presentation-save-button-text-color: #ffffff;
--navigation-custom-presentation-save-button-text: 700 12px "Avenir Next Condensed";
--navigation-custom-presentation-selected-area-border-bottom: 1px solid #cccccc;
--navigation-custom-presentation-selected-area-border-left: 0px solid #cccccc;
--navigation-custom-presentation-selected-area-border-right: 0px solid #cccccc;
--navigation-custom-presentation-selected-area-border-top: 0px solid #cccccc;
--navigation-custom-presentation-selected-area-help-text-letter-spacing: 0%;
--navigation-custom-presentation-selected-area-help-text-text-color: #ffffff;
--navigation-custom-presentation-selected-area-help-text-text: 400 16px "Avenir Next Condensed";
--navigation-custom-presentation-selected-area-padding-bottom: 16px;
--navigation-custom-presentation-selected-area-padding-left: 0px;
--navigation-custom-presentation-selected-area-padding-right: 0px;
--navigation-custom-presentation-selected-area-padding-top: 0px;
--navigation-custom-presentation-title-letter-spacing: 0%;
--navigation-custom-presentation-title-text-color: #ffffff;
--navigation-custom-presentation-title-text: 400 18px "Arial";
--navigation-navigation-card-background: #071d49;
--navigation-navigation-card-border-bottom: 1px solid #00000000;
--navigation-navigation-card-border-left: 1px solid #00000000;
--navigation-navigation-card-border-radius-bottom-left: 18px;
--navigation-navigation-card-border-radius-bottom-right: 18px;
--navigation-navigation-card-border-radius-top-left: 18px;
--navigation-navigation-card-border-radius-top-right: 18px;
--navigation-navigation-card-border-right: 1px solid #00000000;
--navigation-navigation-card-border-top: 1px solid #00000000;
--navigation-navigation-card-gap: 24px;
--navigation-navigation-card-title-letter-spacing: 0%;
--navigation-navigation-card-title-padding-bottom: 8px;
--navigation-navigation-card-title-padding-left: 8px;
--navigation-navigation-card-title-padding-right: 8px;
--navigation-navigation-card-title-padding-top: 8px;
--navigation-navigation-card-title-text-color: #ffffff;
--navigation-navigation-card-title-text: 400 14px "Avenir Next Condensed";
--navigation-navogation-card-selection-box-color: #ff0000;
--navigation-overlay-background: #00000080;
--navigation-overlay-modal-cancel-button-background: #071d49;
--navigation-overlay-modal-cancel-button-border-bottom: 1px solid #00000000;
--navigation-overlay-modal-cancel-button-border-left: 1px solid #00000000;
--navigation-overlay-modal-cancel-button-border-radius-bottom-left: 50px;
--navigation-overlay-modal-cancel-button-border-radius-bottom-right: 50px;
--navigation-overlay-modal-cancel-button-border-radius-top-left: 50px;
--navigation-overlay-modal-cancel-button-border-radius-top-right: 50px;
--navigation-overlay-modal-cancel-button-border-right: 1px solid #00000000;
--navigation-overlay-modal-cancel-button-border-top: 1px solid #00000000;
--navigation-overlay-modal-cancel-button-padding-bottom: 7px;
--navigation-overlay-modal-cancel-button-padding-left: 16px;
--navigation-overlay-modal-cancel-button-padding-right: 16px;
--navigation-overlay-modal-cancel-button-padding-top: 7px;
--navigation-overlay-modal-heading-letter-spacing: 0%;
--navigation-overlay-modal-heading-text-color: #000000;
--navigation-overlay-modal-heading-text: 600 24px "Avenir Next Condensed";
--navigation-overlay-modal-save-button-background: #95004d;
--navigation-overlay-modal-save-button-border-bottom: 1px solid #00000000;
--navigation-overlay-modal-save-button-border-left: 1px solid #00000000;
--navigation-overlay-modal-save-button-border-radius-bottom-left: 50px;
--navigation-overlay-modal-save-button-border-radius-bottom-right: 50px;
--navigation-overlay-modal-save-button-border-radius-top-left: 50px;
--navigation-overlay-modal-save-button-border-radius-top-right: 50px;
--navigation-overlay-modal-save-button-border-right: 1px solid #00000000;
--navigation-overlay-modal-save-button-border-top: 1px solid #00000000;
--navigation-overlay-modal-save-button-letter-spacing: 0%;
--navigation-overlay-modal-save-button-padding-bottom: 7px;
--navigation-overlay-modal-save-button-padding-left: 16px;
--navigation-overlay-modal-save-button-padding-right: 16px;
--navigation-overlay-modal-save-button-padding-top: 7px;
--navigation-overlay-modal-save-button-text-color: #ffffff;
--navigation-overlay-modal-save-button-text: 700 12px "Avenir Next Condensed";
--navigation-side-bar-add-presentation-background: #004c97;
--navigation-side-bar-add-presentation-icon-color: #ffffff;
--navigation-side-bar-add-presentation-letter-spacing: 0%;
--navigation-side-bar-add-presentation-padding-bottom: 16px;
--navigation-side-bar-add-presentation-padding-left: 8px;
--navigation-side-bar-add-presentation-padding-right: 8px;
--navigation-side-bar-add-presentation-padding-top: 16px;
--navigation-side-bar-add-presentation-text-color: #ffffff;
--navigation-side-bar-add-presentation-text: 400 14px "Arial";
--navigation-side-bar-call-flow-active-background: #071d49;
--navigation-side-bar-call-flow-active-icon-color: #ffffff;
--navigation-side-bar-call-flow-active-letter-spacing: 0%;
--navigation-side-bar-call-flow-active-padding-bottom: 16px;
--navigation-side-bar-call-flow-active-padding-left: 8px;
--navigation-side-bar-call-flow-active-padding-right: 8px;
--navigation-side-bar-call-flow-active-padding-top: 16px;
--navigation-side-bar-call-flow-active-text-color: #ffffff;
--navigation-side-bar-call-flow-active-text: 400 14px "Arial";
--navigation-side-bar-call-flow-background: #071d49;
--navigation-side-bar-call-flow-icon-color: #ffffff;
--navigation-side-bar-call-flow-letter-spacing: 0%;
--navigation-side-bar-call-flow-padding-bottom: 16px;
--navigation-side-bar-call-flow-padding-left: 8px;
--navigation-side-bar-call-flow-padding-right: 8px;
--navigation-side-bar-call-flow-padding-top: 16px;
--navigation-side-bar-call-flow-text-color: #ffffff;
--navigation-side-bar-call-flow-text: 400 14px "Arial";
--navigation-slide-navigation-title-letter-spacing: 0%;
--navigation-slide-navigation-title-text-color: #ffffff;
--navigation-slide-navigation-title-text: 700 24px "Avenir Next Condensed";

  /* Navigation */
  --navigation-aside-text-size: 1rem;
  --navigation-aside-background: #cf4520;
  --navigation-article-dot-color: #f6be00;
  --navigation-article-text-color: #6f6e6e;
  --navigation-aside-separator-color: #e7a28f;
  --navigation-aside-text-color-active: #862633;
  --navigation-aside-background-active: #ebebeb;
  --navigation-aside-text-font-family: BrandonGrotesque-Regular, Helvetica, Arial, sans-serif;
  --navigation-article-text-font-family: BrandonGrotesque-Regular, Helvetica, Arial, sans-serif;
}
