:root {
  --tabs-background: #e7e1e1;
  --tabs-border-bottom: 5px solid #00000000;
  --tabs-border-left: 5px solid #00000000;
  --tabs-border-radius-bottom-left: 0px;
  --tabs-border-radius-bottom-right: 0px;
  --tabs-border-radius-top-left: 0px;
  --tabs-border-radius-top-right: 0px;
  --tabs-border-right: 5px solid #00000000;
  --tabs-border-top: 5px solid #00000000;
  --tabs-padding-bottom: 16px;
  --tabs-padding-left: 16px;
  --tabs-padding-right: 16px;
  --tabs-padding-top: 16px;
  --tabsheader-background: #ffffff;
  --tabsheader-border-bottom: 1px solid #1ba2da;
  --tabsheader-border-left: 1px solid #1ba2da;
  --tabsheader-border-radius-bottom-left: 0px;
  --tabsheader-border-radius-bottom-right: 0px;
  --tabsheader-border-radius-top-left: 0px;
  --tabsheader-border-radius-top-right: 0px;
  --tabsheader-border-right: 1px solid #00000000;
  --tabsheader-border-top: 1px solid #00000000;
  --tabsheader-button-background-active: #00000000;
  --tabsheader-button-background: #00000000;
  --tabsheader-button-border-bottom-active: 0px solid #071d49;
  --tabsheader-button-border-bottom: 1px solid #00000000;
  --tabsheader-button-border-left-active: 0px solid #00000000;
  --tabsheader-button-border-radius-bottom-left-active: 0px;
  --tabsheader-button-border-radius-bottom-left: 0px;
  --tabsheader-button-border-radius-bottom-right-active: 0px;
  --tabsheader-button-border-radius-bottom-right: 0px;
  --tabsheader-button-border-radius-top-left-active: 0px;
  --tabsheader-button-border-radius-top-left: 0px;
  --tabsheader-button-border-radius-top-right-active: 0px;
  --tabsheader-button-border-radius-top-right: 0px;
  --tabsheader-button-border-right-active: 0px solid #00000000;
  --tabsheader-button-border-right: 1px solid #00000000;
  --tabsheader-button-border-top-active: 0px solid #00000000;
  --tabsheader-button-border-top: 1px solid #00000000;
  --tabsheader-button-gap-active: 10px;
  --tabsheader-button-gap: 10px;
  --tabsheader-button-letter-spacing-active: 0%;
  --tabsheader-button-letter-spacing: 0%;
  --tabsheader-button-padding-bottom-active: 3px;
  --tabsheader-button-padding-bottom: 3px;
  --tabsheader-button-padding-left-active: 0px;
  --tabsheader-button-padding-left: 0px;
  --tabsheader-button-padding-right-active: 0px;
  --tabsheader-button-padding-right: 0px;
  --tabsheader-button-padding-top-active: 7px;
  --tabsheader-button-padding-top: 3px;
  --tabsheader-button-text-active: 700 11px "Avenir Next Condensed";
  --tabsheader-button-text-case-active: uppercase;
  --tabsheader-button-text-case: uppercase;
  --tabsheader-button-text-color-active: #071d49;
  --tabsheader-button-text-color: #19305280;
  --tabsheader-button-text: 400 12px "Avenir Next Condensed";
  --tabsheader-gap: 0px;
  --tabsheader-padding-bottom: 10px;
  --tabsheader-padding-left: 10px;
  --tabsheader-padding-right: 0px;
  --tabsheader-padding-top: 10px;
}
