@font-face {
  font-family: 'Avenir Condensed';
  font-weight: 400;
  font-style: normal;
  src: url('/resources/fonts/avenir-condensed/AvenirNextCondensed-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Condensed';
  font-weight: 500;
  font-style: normal;
  src: url('/resources/fonts/avenir-condensed/AvenirNextCondensed-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Condensed';
  font-weight: 500;
  font-style: italic;
  src: url('/resources/fonts/avenir-condensed/AvenirNextCondensed-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Condensed';
  font-weight: 600;
  font-style: normal;
  src: url('/resources/fonts/avenir-condensed/AvenirNextCondensed-DemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Avenir Condensed';
  font-weight: 700;
  font-style: normal;
  src: url('/resources/fonts/avenir-condensed/AvenirNextCondensed-Bold.otf') format('opentype');
}
