@theme {
  --spacing: 4px;

  --aspect-square: 1;
  --aspect-portrait: 3 / 4;
  --aspect-landscape: 4 / 3;
  --aspect-widescreen: 16 / 9;

  --aspect-classic-film: 3 / 2;
  --aspect-standard-monitor: 4 / 3;
  --aspect-hd-video: 16 / 9;
  --aspect-cinemascope: 21 / 9;

  --aspect-iphone: 19.5 / 9;
  --aspect-ipad-mini: 3 / 2;
  --aspect-ipad-air: 23 / 16;
  --aspect-ipad-pro: 4 / 3;

  --aspect-ultrawide: 18 / 5;
  --aspect-golden: 1.6180 / 1;

  --breakpoint-3xl: 1920px;

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --color-neutral-50: var(--ui-color-neutral-50);
  --color-neutral-100: var(--ui-color-neutral-100);
  --color-neutral-200: var(--ui-color-neutral-200);
  --color-neutral-300: var(--ui-color-neutral-300);
  --color-neutral-400: var(--ui-color-neutral-400);
  --color-neutral-500: var(--ui-color-neutral-500);
  --color-neutral-600: var(--ui-color-neutral-600);
  --color-neutral-700: var(--ui-color-neutral-700);
  --color-neutral-800: var(--ui-color-neutral-800);
  --color-neutral-900: var(--ui-color-neutral-900);
  --color-neutral-950: var(--ui-color-neutral-950);

  --color-primary-50: var(--ui-color-primary-50);
  --color-primary-100: var(--ui-color-primary-100);
  --color-primary-200: var(--ui-color-primary-200);
  --color-primary-300: var(--ui-color-primary-300);
  --color-primary-400: var(--ui-color-primary-400);
  --color-primary-500: var(--ui-color-primary-500);
  --color-primary-600: var(--ui-color-primary-600);
  --color-primary-700: var(--ui-color-primary-700);
  --color-primary-800: var(--ui-color-primary-800);
  --color-primary-900: var(--ui-color-primary-900);
  --color-primary-950: var(--ui-color-primary-950);

  --color-secondary-50: var(--ui-color-secondary-50);
  --color-secondary-100: var(--ui-color-secondary-100);
  --color-secondary-200: var(--ui-color-secondary-200);
  --color-secondary-300: var(--ui-color-secondary-300);
  --color-secondary-400: var(--ui-color-secondary-400);
  --color-secondary-500: var(--ui-color-secondary-500);
  --color-secondary-600: var(--ui-color-secondary-600);
  --color-secondary-700: var(--ui-color-secondary-700);
  --color-secondary-800: var(--ui-color-secondary-800);
  --color-secondary-900: var(--ui-color-secondary-900);
  --color-secondary-950: var(--ui-color-secondary-950);

  --color-tertiary-50: var(--ui-color-tertiary-50);
  --color-tertiary-100: var(--ui-color-tertiary-100);
  --color-tertiary-200: var(--ui-color-tertiary-200);
  --color-tertiary-300: var(--ui-color-tertiary-300);
  --color-tertiary-400: var(--ui-color-tertiary-400);
  --color-tertiary-500: var(--ui-color-tertiary-500);
  --color-tertiary-600: var(--ui-color-tertiary-600);
  --color-tertiary-700: var(--ui-color-tertiary-700);
  --color-tertiary-800: var(--ui-color-tertiary-800);
  --color-tertiary-900: var(--ui-color-tertiary-900);
  --color-tertiary-950: var(--ui-color-tertiary-950);

  --color-remarkable-light: #f7634f;
  --color-remarkable-dark: #cf451c;
  --color-curious-light: #479ff8;
  --color-curious-dark: #0066f5;
  --color-purposeful-light: #a86bde;
  --color-purposeful-dark: #8a2ecc;
  --color-abbvie-extra-light: #fafbff;
  --color-abbvie-light: #f1f3ff;
  --color-abbvie-medium: #a6b5e0;
  --color-abbvie-dark: #071d49;
  --color-abbvie-medium-gray: #b9b4b4;

  --color-skyrizi-dark-blue: #0e1d34;
  --color-skyrizi-blue: #00a3df;
  --color-skyrizi-blue-60: #66c8ec;
  --color-skyrizi-blue-30: #b2e3f5;
  --color-skyrizi-plum: #b41955;
  --color-skyrizi-slate-gray: #50535a;
  --color-skyrizi-slate-gray-55: #9fa0a4;
  --color-skyrizi-slate-gray-25: #d3d4d5;
  --color-skyrizi-gray: #e9eae8;
  --color-skyrizi-royal-blue: #004c97;
  --color-skyrizi-dark-navy-blue: #0e1d34;
  --color-skyrizi-mint-green: #6abc8d;
  --color-skyrizi-pine-green: #248a6b;
  --color-skyrizi-sandy-yellow: #f39200;
  --color-skyrizi-vermillion: #e84127;
  --color-skyrizi-fortify-green: #4dabb0;
  --color-skyrizi-motivate-blue: #0074bb;
  --color-skyrizi-advance-purple: #5f6dd1;

  --color-skyrizi: #00a3df;
  --color-humira: #95004d;
  --color-stelara: #663490;
  --color-otezla: #013a5d;
  --color-tremfya: #00bacc;
  --color-enbrel: #0f9898;
  --color-taltz: #69aa67;
  --color-cosentyx: #df6ca9;
  --color-sotyktu: #492bdd;
  --color-cimzia: #22834b;

  --color-critical: #cf451c;
  --color-high-risk: #ff971e;
  --color-at-risk: #faee02;
  --color-low-risk: #81e0a9;
  --color-on-track: #338700;

  --color-primary: var(--ui-primary);
  --color-secondary: var(--ui-secondary);
  --color-error: var(--ui-error);
  --color-warning: var(--ui-warning);
  --color-success: var(--ui-success);
  --color-info: var(--ui-info);

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);

  --inset-shadow-2xs: inset 0 1px rgb(0 0 0 / 0.05);
  --inset-shadow-xs: inset 0 1px 1px rgb(0 0 0 / 0.05);
  --inset-shadow-sm: inset 0 2px 4px rgb(0 0 0 / 0.05);

  --font-sans: 'Inter Variable', 'Inter', 'Public Sans', sans-serif;
  --font-sans-condensed: 'Avenir Condensed', 'Avenir Next Condensed', sans-serif;
  --font-serif: 'IM Fell DW Pica', serif;
  --font-mono: 'Monaspace Radon Variable', 'JetBrains Mono Variable', 'Fira Code Variable', 'Space Mono', monospace;
  --font-display: 'Bungee', 'sans-serif';
  --font-body: 'Inter Variable', sans-serif;
  --font-cursive: 'Kalam', cursive;
  --font-script: 'Great Vibes', cursive;
  --font-mockup: 'Balsamiq Sans', cursive;
  --font-proto: 'Flow Circular', system-ui;
  --font-prototype: 'Flow Block', 'Blokk Neue', 'sans-serif';
  --font-wireframe: 'Redacted Script', system-ui;

  --font-avenir: 'Avenir', 'Avenir Next', sans-serif;
  --font-avenir-condensed: 'Avenir Condensed', 'Avenir Next Condensed';
  --font-balsamiq-sans: 'Balsamiq Sans', system-ui;
  --font-bungee: 'Bungee', system-ui;
  --font-dm-sans: 'DM Sans Variable', sans-serif;
  --font-fira-code: 'Fira Code Variable', monospace;
  --font-flow-block: 'Flow Block', system-ui;
  --font-flow-circular: 'Flow Circular', system-ui;
  --font-gilroy: 'Gilroy', sans-serif;
  --font-helvetica-neue: 'Helvetica Neue', sans-serif;
  --font-im-fell-dw-pica: 'IM Fell DW Pica', serif;
  --font-inter: 'Inter Variable', sans-serif;
  --font-jetbrains-mono: 'JetBrains Mono Variable', monospace;
  --font-josefin-sans: 'Josefin Sans Variable', sans-serif;
  --font-kalam: 'Kalam', cursive;
  --font-lato: 'Lato', sans-serif;
  --font-monaspace-argon: 'Monaspace Argon', monospace;
  --font-monaspace-neon: 'Monaspace Neon', monospace;
  --font-nunito: 'Nunito Variable', sans-serif;
  --font-nunito-sans: 'Nunito Sans Variable', sans-serif;
  --font-plus-jakarta-sans: 'Plus Jakarta Sans Variable', sans-serif;
  --font-public-sans: 'Public Sans Variable', sans-serif;
  --font-raleway: 'Raleway Variable', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-slab: 'Roboto Slab Variable', serif;
  --font-rubik: 'Rubik Variable', sans-serif;
  --font-rubik-mono-one: 'Rubik Mono One', sans-serif;
  --font-space-grotesk: 'Space Grotesk Variable', sans-serif;
  --font-space-mono: 'Space Mono', monospace;
  --font-upa-handwriting: 'UPA Handwriting', cursive;

  --text-3xs: 0.5rem;
  --text-3xs--line-height: calc(1 / 0.5);
  --text-2xs: 0.625rem;
  --text-2xs--line-height: calc(1 / 0.625);

  --text-big: 16rem;
  --text-big--line-height: 18rem;
  --text-big--font-weight: 550;
  --text-big--letter-spacing: -0.025em;

  /* Typography */
  /* --text-heading-1: ; */
  /* --text-heading-1--line-height: ; */
  /* --text-Heading-2: ; */
  /* --text-Heading-2--line-height: ; */
  /* --text-Heading-3: ; */
  /* --text-Heading-3--line-height: ; */
  /* --text-body-1: ; */
  /* --text-body-1--line-height: ; */
  /* --text-body-2: ; */
  /* --text-body-2--line-height: ; */
  /* --text-body-3: ; */
  /* --text-body-3-line-height: ; */
  /* --text-note: ; */
  /* --text-note-line-height: ; */


  --animate-marquee: marquee 3s linear infinite;

  @keyframes marquee {
    to {
      transform: translateY(-50%);
    }
  }

  /* --background-image-grid-pattern: url(); */
}

button {
  cursor: pointer;
}

.heading-1 {
  font-family: 'Avenir Condensed', 'Avenir Next Condensed', sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: -1%;
  text-transform: uppercase;
}
.heading-2 {
  font-family: 'Avenir Condensed', 'Avenir Next Condensed', sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 0%;
  text-transform: none;
}
.heading-3 {
  font-family: 'Avenir Condensed', 'Avenir Next Condensed', sans-serif;
  font-size: 24px;
  font-weight: regular;
  line-height: 32px;
  letter-spacing: 0%;
  text-transform: none;
}
.body-1 {
  font-family: 'Avenir Condensed', 'Avenir Next Condensed', sans-serif;
  font-size: 21px;
  font-weight: regular;
  line-height: 32px;
  letter-spacing: 0%;
  text-transform: none;
}
.body-2 {
  font-family: 'Avenir Condensed', 'Avenir Next Condensed', sans-serif;
  font-size: 18px;
  font-weight: regular;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: none;
}
.body-3 {
  font-family: 'Avenir Condensed', 'Avenir Next Condensed', sans-serif;
  font-size: 16px;
  font-weight: regular;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: none;
}
.note {
  font-family: 'Avenir Condensed', 'Avenir Next Condensed', sans-serif;
  font-size: 14px;
  font-weight: regular;
  line-height: 21px;
  letter-spacing: 0%;
  text-transform: none;
}
.test {
  font-family: 'Avenir Condensed', 'Avenir Next Condensed', sans-serif;
  font-size: 16px;
  font-weight: regular;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: none;
}

.cmp-button.default {
  --button-background: #193052;
  --button-border-top: 1px solid #00000000;
  --button-border-right: 1px solid #00000000;
  --button-border-bottom: 1px solid #00000000;
  --button-border-left: 1px solid #00000000;
  --button-border-radius-top-right: 50px;
  --button-border-radius-top-left: 50px;
  --button-border-radius-bottom-right: 50px;
  --button-border-radius-bottom-left: 50px;
  --button-gap: 8px;
  --button-padding-top: 16px;
  --button-padding-right: 16px;
  --button-padding-bottom: 16px;
  --button-padding-left: 16px;
  --button-text: Bold 12px Avenir Next Condensed;
  --button-letter-spacing: 0%;
  --button-text-color: #ffffff;

  button {
    background-color: var(--button-background);
    border-top: var(--button-border-top);
    border-right: var(--button-border-right);
    border-bottom: var(--button-border-bottom);
    border-left: var(--button-border-left);
    border-top-right-radius: var(--button-border-radius-top-right);
    border-top-left-radius: var(--button-border-radius-top-left);
    border-bottom-right-radius: var(--button-border-radius-bottom-right);
    border-bottom-left-radius: var(--button-border-radius-bottom-left);
    gap: var(--button-gap);
    padding-top: var(--button-padding-top);
    padding-right: var(--button-padding-right);
    padding-bottom: var(--button-padding-bottom);
    padding-left: var(--button-padding-left);
    font: var(--button-text);
    letter-spacing: var(--button-letter-spacing);
    color: var(--button-text-color);
    width: 100%;
  }
}
.cmp-button.variant-1 {
  --button-background: #000000;
  --button-border-top: 2px solid #000000;
  --button-border-right: 2px solid #000000;
  --button-border-bottom: 2px solid #000000;
  --button-border-left: 2px solid #000000;
  --button-border-radius-top-right: 5px;
  --button-border-radius-top-left: 5px;
  --button-border-radius-bottom-right: 5px;
  --button-border-radius-bottom-left: 5px;
  --button-gap: 8px;
  --button-padding-top: 16px;
  --button-padding-right: 16px;
  --button-padding-bottom: 16px;
  --button-padding-left: 16px;
  --button-text: Bold 16px/100% Avenir Next Condensed;
  --button-letter-spacing: 0%;
  --button-text-color: #ffffff;

  button {
    background-color: var(--button-background);
    border-top: var(--button-border-top);
    border-right: var(--button-border-right);
    border-bottom: var(--button-border-bottom);
    border-left: var(--button-border-left);
    border-top-right-radius: var(--button-border-radius-top-right);
    border-top-left-radius: var(--button-border-radius-top-left);
    border-bottom-right-radius: var(--button-border-radius-bottom-right);
    border-bottom-left-radius: var(--button-border-radius-bottom-left);
    gap: var(--button-gap);
    padding-top: var(--button-padding-top);
    padding-right: var(--button-padding-right);
    padding-bottom: var(--button-padding-bottom);
    padding-left: var(--button-padding-left);
    font: var(--button-text);
    letter-spacing: var(--button-letter-spacing);
    color: var(--button-text-color);
    width: 100%;
  }
}
